/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-font: 'PressStart2P';
  --main-font: 'Inter-Variable';
  --weight-regular:400;
  --weight-bold:700;
  --layout-width:clamp(375px, 100%, 700px);
  --color-accent:#fff;
  --contour-color:#000;
  --animation-fill-color:#FF0000;
}